body {
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 0px;
    margin: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

nav li:hover {
    font-size: larger;
}

#SU-logo {
    width: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.links li {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.links li a {
    color: #fff;
    text-decoration: none;
}

.links li #ItemsLink {
    color: black;
    font-size: larger;
}

.links li #ItemsLink:hover {
    color: black;
}

.links li a:hover {
    color: red;
    border-bottom: 2px solid goldenrod;
}

.links li a:active {
    color: blue;
}

.auth {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
    font-size: 30px;
}

.auth li {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.auth a {
    color: #fff;
    text-decoration: none;
    margin: 0px;
}

.auth a:hover {
    color: red;
    border-bottom: 2px solid goldenrod;
}

.auth a:active {
    color: blue;
}

header {
    height: 100vh;
    background-image: url(icon/Restaurants.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
}

header * {
    z-index: 1;
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header .content h1 {
    margin: 20px;
    font-size: 40px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

header .content p {
    margin: 20px 0px 40px;
    font-size: 25px;
}

.primary-text {
    color: whitesmoke;
}

.SinaiUni:hover {
    font-size: larger;
}

.SU {
    font-family: Calibri;
    color: rgb(41, 86, 119);
    padding: 0px;
    margin: 0px;
    font-size: larger;
}

/* Container */

.container {
    width: 100%;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.container-photos,
.container-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.container-photos img {
    border-radius: 30px;
    width: 180px;
    height: 360px;
}

.container-photos img:hover {
    width: 200px;
    height: 380px;
    cursor: pointer;
}

.container-link a {
    color: red;
    border-color: goldenrod;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(200, 200, 200, 0.7);
    border-style: outset;
    border-radius: 5px;
}

.container-link .item {
    padding: 30px;
    width: 150px;
}

.container-link .item a {
    text-align: center;
    display: inline-block;
    width: 90%;
    font-size: 32px;
    padding: 0px 5px;
}

.container-link .item a:hover {
    width: 100%;
    font-size: 36px;
}

/* Main */

main .restaurant {
    border: 2px solid goldenrod;
    height: 100vh;
}

main .restaurant h2 {
    padding: 10px;
    margin: 0%;
    background-color: rgb(254, 137, 8);
    text-align: center;
    border: 5px solid rgb(254, 137, 8);
}

main .restaurant .shop {
    display: flex;
    align-items: center;
    color: white;
    height: 92%;
    padding: 0%;
    margin: 0%;
}

main .restaurant .shop .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: url(icon/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.items .desc {
    background-color: rgba(0, 0, 0, 0.4);
}

main .restaurant .shop img {
    height: 100%;
    width: 300px;
}

main .restaurant .shop .side-bar {
    height: 100%;
}

main .restaurant .shop .side-bar img {
    width: 60px;
    height: 100%;
}

main .restaurant .shop .items {
    width: 100%;
}

main .restaurant .items .desc {
    z-index: 1;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .restaurant .items .logo-desc {
    color: silver;
    display: flex;
    align-items: center;
    border: 4px solid rgb(254, 137, 8);
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
}

main .restaurant .items .logo-desc h3 {
    padding: 0px 10px;
    font-size: 40px;
}

main .restaurant .items .logo-desc .logo {
    width: 80px;
    margin: 0px;
}

main .restaurant .shop .items .desc .check {
    margin-bottom: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .restaurant .shop .items .desc .check a {
    color: red;
    padding: 5px;
    border-color: goldenrod;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(200, 200, 200, 0.7);
    border-style: outset;
    border-radius: 5px;
}

main .restaurant .shop .items .desc .description {
    width: 80%;
    font-size: 22px;
    margin-top: 0px;
}

main .restaurant .shop .items .desc a:hover {
    font-size: x-large;
    cursor: pointer;
}

main .restaurant .shop .items .desc a:active {
    color: blue;
}

form .check-restaurants {
    margin-top: 5px;
}

form .check-restaurants a {
    text-decoration: none;
    color: goldenrod;
}

/* CSS for Order Form */

main .restaurant .items .order {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(icon/Restaurants.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main .restaurant .items .order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
}

optgroup {
    text-align: center;
}

.Order-form {
    padding: 20px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    color: black;
}

.Order-form h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.Order-form h3:hover {
    font-size: 30px;
}

.Order-form label {
    display: block;
    margin-bottom: 5px;
}

.Order-form input[type="text"],
.Order-form input[type="email"],
.Order-form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
}

.Order-form input[type="number"] {
    width: 30%;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.flex #phone {
    width: 115px;
}

form * {
    border-radius: 3px;
}

form #special-requests {
    width: 250px;
    height: 60px;
}

form #quantity {
    margin: 5px;
    display: flex;
    align-items: center;
}

form #pickup-date {
    display: flex;
    align-items: center;
    margin: 5px;
}

form #pickup-time {
    display: flex;
    align-items: center;
    margin: 5px;
}

form #submitbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

form #submitbtn #submit {
    border: 2px solid goldenrod;
    background-color: rgba(200, 200, 200, 0.7);
    color: red;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

form #submitbtn #submit:hover {
    font-size: x-large;
    cursor: pointer;
}

form #submitbtn #submit:active {
    color: blue;
}